.container{
	
}
.fang, .defang{
	border: 1px solid black;
	display: inline-block;
	width: 40%;
	margin: 10px 30px;
	padding: 5px;
	border-radius: 5px;
}
.btn{
	display: inline-block;
	width: 10%;
	text-align: center;
	margin-top: 10px;
	
}
.btn > button{
	min-width: 100px;
	margin: 10px auto;
}
input{
	padding: 5px 5px 300px 5px;
    width: 98%;
    height: auto;
    margin: 10px 0 0 0;
    border-radius: 5px;
    font-size: 20px;
}
label{
	font-size: 20px;
	font-weight: bold;
}