<!-- <div class="nav-bar">
  <div class="nav-item">
    <ul class="nav-ul">
      <li class="nav-li" *ngFor="let link of links" (click)="getLink($event, link)" >
        <a class="nav-a">{{link.name}}</a>
      </li>
    </ul>
  </div>
  <div *ngIf="displayChild">
    <ul>
      <li *ngFor="let link of childLinks" (click)="getLink($event, link)" >
        <a>{{link.name}}</a>
      </li>
    </ul>
  </div>
  <div *ngIf="displayChild">
    <ul>
      <li *ngFor="let link of childLinks" (click)="getLink($event, link)" >
        <a>{{link.name}}</a>
      </li>
    </ul>
  </div>
</div>
 -->
 <app-fang-defang></app-fang-defang>
